/*/////////////////////////////TIPO DE LETRA PARA EL PROYECTO*/
@font-face {
  font-family: 'Dancing Script', cursive;
  src: url(fonts/DancingScript-Regular.ttf);
}

/*//////////////////////////////FONDO NEGRO, DEL BODY y DEL CONTENEDOR PRINCIPAL LLAMADO CONTENIDO*/
#body, #contenido {
  background: #02010a;
  width: 100%;
  min-width: 300px;
  font-family: 'Dancing Script', cursive;
  margin-left: auto;
  margin-right: auto;
}

/*/////////////////////////////DISEÑO DEL ENCABEZADO Y TITULO*/
header {
  background: #5b7989;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  float: left;
}

header>h1 {
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  margin-left: 30px;
  float: left;
  font-weight: bold;
  font-size: 2.2em;
}

/*//////////////////////////DISEÑO DEL NAVBAR*/
#navbar {
  float: right;
  margin-bottom: 5px;
}

nav>.sinsubrayar:link {
  text-decoration: none;
}

nav>a {
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  margin-right: 20px;
}

/*/////////////////////////DISEÑO DE LA IMG CENTRAL*/
#imgcentral {
  width: 100%;
  text-align: center;
  background: #82c3a6;
  float: left;
}

#imgcentral>picture>img {
  box-shadow: 2px 2px 2px 0px #02010a;
  /* width: auto; */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}

/*/////////////////////////DISEÑO DE LA IMG SECUNDARIA*/
#imgsecundaria {
  width: 100%;
  text-align: center;
  background: #d5c75f;
  float: left;
}
#imgsecundaria>a{
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1.2em;
  margin-bottom: 20px;
}
#imgsecundaria>a>picture {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#imgsecundaria>a>picture>img {
  box-shadow: 2px 2px 2px 0px #02010a;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

/*//////////////////////////////////MEDIA QUERIES - FORMATO PARA MOVIL//*/
@media screen and (min-width:690px) {
  #contenido {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #navbar {
    margin-top: 30px;
  }

  #imgsecundaria {
    width: 100%;
    text-align: center;
    background: #d5c75f;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  footer>section {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

/*//////////////////////////////////MEDIA QUERIES - FORMATO PARA DESKTOP//*/
@media screen and (min-width:900px) {
  #contenido {
    width: 900px;
  }

  #navbar {
    margin-top: 30px;
  }

  #imgsecundaria {
    width: 100%;
    text-align: center;
    background: #d5c75f;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    margin-left: auto;
    margin-right: auto;
  }

  footer>section {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    margin-left: auto;
    margin-right: auto;
  }
}

/*//////////////////////////////////FOOTER*/
footer {
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  clear: both;
  padding: 10px;
}

footer>section>article{
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 40px;
  text-align: justify;
}
footer>section>article>h1 {
  font-size: 2em;
  margin-bottom: 5px;
}
footer>section>article>p {
  margin-top: 0px;
  margin-bottom: 0px;
}
footer>section>article>a {
  color: black;
}
.redessociales>a:link {
  text-decoration: none;
}
