
/*/////////////////////////////TIPO DE LETRA PARA EL PROYECTO*/
@font-face {
  font-family: 'Dancing Script', cursive;
}
/*//////////////////////////////FONDO NEGRO, DEL BODY y DEL CONTENEDOR PRINCIPAL LLAMADO CONTENIDO*/
#body,#contenido{
  background: #02010a;
  width: auto;
}
header>p{
  color: white;
  clear: both;
}
/*/////////////////////////////DISEÑO DEL ENCABEZADO Y TITULO*/
header{
  background: #5b7989;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  float: left;
}

header>h1{
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  padding: 5px;
  font-family: 'Dancing Script', cursive;
  float: left;;
}
/*//////////////////////////DISEÑO DEL NAVBAR*/
#navbar{
  float: right;
  padding-top:40px;
  font-family: 'Dancing Script', cursive;
  color:white;
}

nav>.sinsubrayar:link{
  text-decoration:none;
}
nav>a{
  color: white;
}
/*/////////////////////////DISEÑO DE LA IMG CENTRAL*/
#imgcentral{
  width: 100%;
  text-align: center;
  background: #82c3a6;
  float: left;
}
#imgcentral>img{
  box-shadow: 2px 2px 2px 2px #02010a;
  /* width: auto; */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}
/*/////////////////////////DISEÑO DE LA IMG SECUNDARIA*/
#imgsecundaria{
  width: 100%;
  text-align: center;
  background: #d5c75f;
  float: left;
}
#imgsecundaria>img{
  box-shadow: 2px 2px 2px 2px #02010a;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*//////////////////////////////////FOOTER*/
footer{
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  clear: both;
}
